*{
  margin: 0 !important;
  padding: 0 !important;
  border: none !important;
 
}
.cld-video-player{
  max-width: 100vw;
  max-height: 100vh;
  overflow: hidden  !important;
  min-width: 100vw;
  min-height: 100vh;
}
.container{
  max-width: 100vw !important;
  height: 100vh !important;
  
}
